{% extends "base.html" %}
{% block body %}
{% if session.logged %}
<form action="{{url_for('query')}}" method=post>
	<dl>
		<strong>SQL query</strong>
		<br/>
		<pre class="prettyprint">
                {% if sql_query %}
		     <input type="text" value= {{sql_query}}  name="query" class='sqlquery prettyprint' >
                {% else %}
	   	     <input type="text"  name="query" class='sqlquery prettyprint' >
                {% endif %}

		</pre>
		<input type="submit" value=Execute class="btn btn-primary btm-sm">
	</dl>
</form>
<div id="content">
	<table class='table table-stripped'>
		{% for row in table %}
		<tr>
			{% for cell in row %}
			<td> {{cell}} </td>
			{% endfor %}

		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}
{% endblock %}
